spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${HOME_URL}
    username: ${HOME_USERNAME}
    password: ${HOME_PASSWORD}

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
#    hibernate:
#      ddl-auto: create